// Colors
$white: #ffffff;
$black: #000000;

// Sizes
$base-font-size: 18px;

$breakpoints: (
  "phone"       : 400px,
  "phone-wide"  : 480px,
  "phablet"     : 560px,
  "tablet-small": 640px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);

$content-size: 1440px;
$tablet-size: 1200px;
$mobile-size: 768px;

// Fonts
