.s-banner {
  background-image: url("../images/general/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 768px;
  padding-top: 265px;
  position: relative;
  @media screen and (max-width: $tablet-size) {
    height: 450px;
    padding-top: 160px;
  }
  @media screen and (max-width: $mobile-size) {
    height: 270px;
    padding-top: 115px;
  }
  &:after {
    content: '';
    background: rgba(198, 108, 73, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
    z-index: 0;
  }
  .container {
    position: relative;
    z-index: 1;
  }
}

.banner {
  color: $white;
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  &__title {
    font-size: 64px;
    margin-bottom: 25px;
    @media screen and (max-width: $mobile-size) {
      font-size: 20px;
    }
  }
  &__descr {
    font-size: 24px;
    margin-bottom: 105px;
    @media screen and (max-width: $tablet-size) {
      margin-bottom: 50px;
    }
    @media screen and (max-width: $mobile-size) {
      font-size: 13px;
    }
  }
  &__link {
    color: $white;
  }
}
