section.s-portfolio
	.container
		h2 Portfolio
		.portfolio
			h3 UX Research
			.portfolio__body
				.portfolio__info
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac dictum nibh nam odio cursus id. Diam massa semper a tincidunt cursus ultricies lectus eget urna.
				.portfolio__photos
					.portfolio__col
						.portfolio__photo(style='background-image:url(static/images/content/photo1.jpg)')
						.portfolio__photo.portfolio__photo--big(style='background-image:url(static/images/content/photo2.jpg)')
					.portfolio__col
						.portfolio__photo.portfolio__photo--big(style='background-image:url(static/images/content/photo3.jpg)')
						.portfolio__photo(style='background-image:url(static/images/content/photo4.jpg)')
