body {
	height: 100vh;
	margin: 0;
}

.banner {
	background: url('https://images.unsplash.com/photo-1550353127-b0da3aeaa0ca') no-repeat center center;
	justify-content: center;
	background-size: cover;
	flex-direction: column;
	border-radius: 10px;
	align-items: center;
	position: fixed;
	display: flex;
	height: 100vh;
	width: 100%;
	color: #fff;
}


.content {
	box-shadow: 0 0 100px rgba(0,0,0,0.4);
	background-color: #fff;
	height: 2000px;
	position: relative;
	top: 100vh;
}
