* {
	box-sizing: border-box;
}

p {
	height: 10px;
	margin: 10px 0;
}
body {
	overflow-x: hidden;
}

.nav {
	background-color: #2ca8d2;
	bottom: 0;
	left: -300px;
	position: fixed;
	top: 0;
	overflow: auto;
	transition: left linear .3s;
	padding: 10px;
	width: 300px;
}
.nav li {
	height: 100px;
}

.nav.is-active {
	left: 0;
}


.main {
	left: 0;
	position: relative;
	transition: left linear .3s;
}
.main.is-active {
	left: 300px;
}

.nav-action {
	cursor: pointer;
}

.nav-action.is-active {
	background-color: #55a32a;
}
