footer.light-bg
	.container
		h2 Get in Touch
		.footer
			ul.footer-nav
				each link in ['Dribbble','Behance','CodePen','GitHub','Medium']
					li.footer-nav__item
						a(href="").footer-nav__link=link
			ul.footer-nav
				each link in ['LinkedIn','Facebook','Instagram','Twitter']
					li.footer-nav__item
						a(href="").footer-nav__link=link
			.footer-contacts
				span seyrig@mailme.com
				span + 55 6645 665544
