:host {
  display: block;

  .input {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 8px 16px;
    height: 40px;
    line-height: 22px;
    margin-bottom: 40px;
    width: 100%;
  }

}
